<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Devir.DMS.DL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>   
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info --><add name="MongoServerSettings" connectionString="mongodb://89.218.67.27:8083/DMS" />
  <add name="MongoServerSettings" connectionString="mongodb://localhost/MyDatabase" /></connectionStrings> 
  <applicationSettings>
    <Devir.DMS.DL.Properties.Settings>
      <setting name="DBName" serializeAs="String">
        <value>DMS</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>192.168.1.187</value>
      </setting>
    </Devir.DMS.DL.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>