@model Devir.DMS.Web.Models.Reference.DynamicFieldsTemplateViewModel

@{
    Layout = null;
}

@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "edit-modal" }))
{
   @Html.HiddenFor(m => m.DynamicReferenceId)
     <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="addModalLabel">Добавить</h3>
            </div>
    <div class="modal-body" id="addModalBody">
        <div class="controls controls-row">
                <label class="span2">Главное</label><label class="span2">Заголовок</label><label class="span2">Типы полей</label><label class="span2">Обязательное</label><label class="span2">Порядок</label>
            </div>
        <div id="field" >
            @Html.EditorFor(m => m.FieldTemplates, new { FieldTypes = Model.FieldTypes })
        </div>
    </div>
    <div><button id="addScnt" class="btn"><i class="icon-plus"></i>Добавить поле</button></div>
   <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <input type="submit" id="btnSave" class="btn btn-primary" value="Сохранить" />
</div>
    <div id="dropdown" hidden="hidden">
    @Html.DropDownList("newFieldTypesList", Model.FieldTypes.Select(m => new SelectListItem() { Text=m.Name, Value=m.Id.ToString()}), new { @class = "span2" })
    </div>
<script>
    $(function () {
        var scntDiv = $('#field');
        var i = $('#field div').size();
        $(document).on('click', '#addScnt', function () {
            $('<div class="controls controls-row content">' +
                '<div class="span2"><input type="checkbox" name="FieldTemplates[' + i + '].isDisplay" value="false" class="isDisplay"></div>' +
                '<div><input type="hidden" name="FieldTemplates[' + i + '].Id" value="@Guid.Empty"></div>' +
                '<div><input type="hidden" name="FieldTemplates[' + i + '].FieldOrder" value="' + i + '" ></div>' +
                '<div class="span2"><input class="span2" type="text" name="FieldTemplates[' + i + '].Header"></div>' +
                '<div class="span2">' + dropdown(i) + '</div>' +
                '<div class="span2"><input type="checkbox" name="FieldTemplates[' + i + '].isRequired" value="true" class="isRequired"></div>' +
                '<div class="btn-group"><a id="up" class="btn" href="#"><i class="icon-arrow-up"></i></a><a id="down" class="btn" href="#"><i class="icon-arrow-down"></i></a></div>' +
                '<a class="btn" href="#" id="remScnt"><i class="icon-trash"></i></a>' +
                '</div>').appendTo(scntDiv);
            i++;
            return false;
        });
        
        function dropdown(i) {
            var clone = $('#dropdown').clone().removeAttr('hidden', 'hidden');
            clone.children().attr('name', 'FieldTemplates[' + i + '].TypeOfTheFieldId');
            clone.children().attr('id', 'FieldTemplates[' + i + '].TypeOfTheFieldId');
            return clone.html();
        }

        $(document).on('click', '#remScnt', function () {
            if (i >= 1) {
                $(this).parent('.controls').remove();
                i--;
            }
            return false;
        });
        
        
        $(document).on('click', '#btnSave', function () {
            replaceAll();
        });

        $('.text-box.single-line').addClass('span2');

            });
</script>

}
