@{
    ViewBag.Title = "DocumentNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h2 style="width:100%; text-align:center; color:white;">Документ не найден или у Вас <u>нет</u> доступа к нему.</h2>
<br /><br />
 <h4 style="color:white; padding:30px;">Не расстраивайтесь, Вы можете запросить доступ к чтению документа у его <u>автора</u> или почитайте свои документы :) у Вас их тоже много:</h4>
<br /><br />
<div style="text-align:center; width:100%;">
<div style="vertical-align:top; width:100%; text-align:left;">
    <table>
        <tr>
            <td style="width:50%">&nbsp;</td>
            <td>
    <h4 style="color:white;">СЗ <span class="label">50</span></h4> 
     <h4 style="color:white;">Заявка <span class="label">78</span></h4> 

      <h4 style="color:white;">Протокол совещания <span class="label">78</span></h4> 
      <h4 style="color:white;">Входящие письма <span class="label">67</span></h4> 
    <h4 style="color:white;">Исходящие письма <span class="label">14</span></h4> 
                </td>
             <td style="width:30%">&nbsp;</td>
            </tr>
        </table>
</div>
    </div>

