@{
    Layout = null;
}



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Фильтрация</h3>
</div>
<div class="modal-body">

    <div id="filterContainer">
        <table>
            <tr>
                <td>
                    Отдел
                    <input />
                </td>
            </tr>
            <tr>
                <td>Дата с  <input type="date" />  </td>
                <td> Дата по <input type="date" name="name" value=" " /> </td>
            </tr>
            <tr>
                <td>
                    Загаловок <input type="text" />  Тип поиска <input type="checkbox" name="name" value=" " />
                </td>
            </tr>
        </table>
    </div>

    
</div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button id="applyFilter" class="btn btn-primary">Применить фильтрацию</button>
</div>



@*<div id="filtrationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Фильтрация</h3>
        </div>
        <div class="modal-body">

            Отдел
            <input />  <br />
            Дата с  <input />   Дата по <input type="date" name="name" value=" " /> <br />
            Загаловок <input type="text" />


        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <button id="applyFilter" class="btn btn-primary">Применить фильтрацию</button>
        </div>
    </div>*@
