@model List<Devir.DMS.DL.Models.Document.NegotiatorsRoutes.NegotiationStage>

@{
    Layout = null;
}

<div style="width:100%; background-color:#f0f0f0">
    <button onclick="alert('Добавление нового этапа')">Добавить этап согласования</button>
    <table>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>

</div>
