@model Devir.DMS.DL.Models.References.OrganizationStructure.User
@{
    Layout = null;
}
<section id="login" style="float:right; color:white; font-weight:bold;">
    Здравствуйте, <span class="username">@string.Format("{0} {1}", Model.LastName, Model.FirstName) </span>!
</section>